<!-- start custom footer snippets -->
<!-- <a href="/sitemap/">Sitemap</a> -->
<!-- end custom footer snippets -->
<!-- <div id="ft_container">
<div style="width:40%;vertical-align:middle; text-align:center">
<img src="images/footer/RGB_university_tagline_horizontal.png" alt="UT Logo" style="width:auto;max-width:100%" /></div>
<div style="width:40%;vertical-align:middle; text-align:center">
<img src="images/footer/RGB_formal_Cockrell.png" alt="ECE Logo" style="width:auto;max-width:100%" /></div>
</div> -->
<!-- start custom footer snippets -->
<div id="ft_container" style="display: flex; justify-content: center; align-items: center; gap: 20px;">
    <div style="flex: 1; max-width: 40%; text-align: right;">
      <img src="images/footer/RGB_university_tagline_horizontal.png" alt="UT Logo" style="max-width: 100%; height: auto;" />
    </div>
    <div style="flex: 1; max-width: 40%; text-align: left;">
      <img src="images/footer/RGB_formal_Cockrell.png" alt="ECE Logo" style="max-width: 100%; height: auto;" />
    </div>
  </div>
  <!-- end custom footer snippets -->